body {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#part1{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#part1 p{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    width:75vw; 
}

#part1 h2{
    font-family:'Courier New', Courier, monospace; 
    color: rgb(37, 130, 229);
}

#compare{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

table, th, td {
    border: 1px solid black;
    width: 20vw;
    table-layout:fixed;
    word-wrap: break-word;
  }

#part2{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#part2 p, ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    width:75vw; 
}

#part2 h2{
    font-family:'Courier New', Courier, monospace; 
    color: rgb(37, 130, 229);
}

#part2 h3{
    font-family:'Courier New', Courier, monospace; 
    color: rgb(68, 97, 129);
    size: extr;
}

.verA, .verB, .mRS, .tPS, .tFCS{
    width:75vw; 
}

h1{
    font-family:'Courier New', Courier, monospace; 
}